body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

#task-container {
    margin: 20px auto;
    max-width: 300px;
}

#task-input {
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#add-task {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
}

.task-text {
    flex-grow: 1;
}

.task-buttons {
    margin-left: 10px;
}

.edit-button, .delete-button {
    background: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 2px 5px;
    cursor: pointer;
}

.delete-button {
    background: red;
}
